.footer{
	padding: 60px 0;
    width: 100%;
    background: #d7f0ed;
	
    color: rgb(10, 0, 0);
   
}
.footer-title{
	position: relative;
    color: rgb(7, 0, 0);
	font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #4e4e4e;
}
.footer-title:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 30px;
	height: 4px;
	background: #ff304d;
}
.footer-links a{
	padding: 10px 0;
	border-bottom: 1px solid #404040;
	color: rgb(14, 0, 0);
	display: block;
	transition: color 0.5s ease-in-out;
   text-decoration:none;
}
.footer-links a:hover{
	color: #ff304d;
}
.footer-social-links li{
	display: inline-block;
}

.footer-social-links a:hover{
	background: #ff304d;
}
/* g. Footer bottom section */
.footer-bottom{
	width: 100%;
	padding: 25px 0;
	text-align: center;
	color: rgb(253, 253, 253);
	background: rgb(0, 0, 0);
}
.aboutus{
	
	height: 200px;
	overflow: auto;
}
/* ::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	} */
	
	/* ::-webkit-scrollbar-track {
	border: 1px solid rgb(10, 0, 0);
	border-radius: 10px;
	} */
	
	/* ::-webkit-scrollbar-thumb {
	background: rgb(7, 0, 0);  
	border-radius: 10px;
	} */